<div data-test-search>
  <header class="header">
    <h1 class="logo">
      <a href="/" class="logo-link" data-navigo>
        Breethe
      </a>
    </h1>
  </header>

  <SearchForm @term={{searchTerm}} @isSSR={{@isSSR}} @onSearch={{action goToRoute}} />

  <div class="results">
    <h2 class="results-title">
      {{#if searchTerm}}
        Locations for "<strong class="search-term">{{searchTerm}}</strong>"
      {{else}}
        {{#if showResults}}
          Recent Locations
        {{/if}}
      {{/if}}
    </h2>

    {{#if showResults}}
      <ul>
        {{#each locations key="id" as |location|}}
          <li data-test-search-result={{location.attributes.city}}>
            <a href="/location/{{location.id}}" class="result-link" data-navigo>
              {{location.attributes.name}}, {{location.attributes.city}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      {{#if searchTerm}}
        <em class="no-results">
          We could not find locations with your search term.
        </em>
      {{/if}}
    {{/if}}
  </div>
</div>