<div class="search-route" data-test-search>
  <header class="search-route__header">
    <h1 class="search-route__logo">
      Breethe
    </h1>
  </header>

  <SearchForm @term={{searchTerm}} @onSearch={{action goToRoute}} />

  <div class="search-route__results">
    <h2 class="search-route__results__title">
      {{#if searchTerm}}
        Locations for "<strong>{{searchTerm}}</strong>"
      {{else}}
        {{#if showResults}}
          Recent Locations
        {{/if}}
      {{/if}}
    </h2>

    {{#if showResults}}
      <ul>
        {{#each locations key="id" as |location|}}
          <li class="search-route__result" data-test-search-result={{location.attributes.city}}>
            <a href="/location/{{location.id}}" data-navigo>
              {{location.attributes.city}}, {{location.attributes.country}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      {{#if searchTerm}}
        <em class="search-route__no-results">
          We could not find locations with your search term.
        </em>
      {{/if}}
    {{/if}}
  </div>
</div>