<div class="search-route">
  {{#unless searchTerm}}
    <h1 class="search-route__title">
      Search for your location
    </h1>
  {{/unless}}

  <SearchForm @term={{searchTerm}} @onSearch={{action goToRoute}} />

  {{#if searchTerm}}
    <h1 class="search-route__title">
      Locations for "{{searchTerm}}"
    </h1>
  {{/if}}

  {{#if locations.length}}
    <ul class="search-route__results">
      {{#each locations key="id" as |location|}}
        <li class="search-route__result">
          <a href="/location/{{location.id}}" class="internal-link">
            {{location.attributes.city}}, {{location.attributes.country}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    {{#if searchTerm}}
      <em class="search-route__no-results">
        We could not find locations with your search term.
      </em>
    {{/if}}
  {{/if}}
</div>
