<div data-test-search>
  <header class="header">
    <h1 class="logo.logo">
      <a href="/" class="logo.logo-link logo-link" onclick={{action goToRoute ''}}>
        Breethe
      </a>
    </h1>
    <p class="statement">Air Quality Data for Locations around the World</p>
  </header>

  <div class="search-form-wrapper">
    <SearchForm @term={{searchTerm}} @isDisabled={{isSearchDisabled}} @onSearch={{action goToRoute}} @onSearchByLocation={{action searchByLocation}} />
    {{#if @isSSR}}
      <div class="loader.loader form-loader" data-test-form-laoder></div>
    {{/if}}
  </div>

  <h2 class="results-title">
    {{#if searchTerm}}
      <span data-test-locations-for-search-term>Locations for "<strong class="search-term">{{searchTerm}}</strong>"</span>
    {{else}}
      {{#if coordinates}}
        <span data-test-near-locations>Locations near you</span>
      {{else}}
        {{#if showRecent}}
          <span data-test-recent-locations>Recent Locations</span>
        {{/if}}
      {{/if}}
    {{/if}}
  </h2>

  <div class="results">
    {{#if loading}}
      <div class="loader.loader search-loader" data-test-form-loader></div>
    {{else}}
    
      {{#if locations.length}}
        <ul>
          {{#each locations key="id" as |location|}}
            <li class="result" data-test-search-result={{location.attributes.city}}>
              <a href="/location/{{location.id}}" class="result-link" data-navigo>
                {{location.attributes.label}}
              </a>
            </li>
          {{/each}}
        </ul>
      {{else}}
        {{#if searchTerm}}
          <em class="no-results" data-test-no-results>
            We could not find locations with your search term.
          </em>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>