<div class="search-route">
  <header class="search-route__header">
    <h1 class="search-route__logo">
      Breethe
    </h1>
  </header>

  <SearchForm @term={{searchTerm}} @onSearch={{action goToRoute}} />

  <div class="search-route__results">
    <h2 class="search-route__results__title">
      {{#if searchTerm}}
        Locations for "<strong>{{searchTerm}}</strong>"
      {{else}}
        Recent Locations
      {{/if}}
    </h2>

    {{#if showSearchResults}}
      <ul>
        {{#each locations key="id" as |location|}}
          <li class="search-route__result">
            <a href="/location/{{location.id}}" data-navigo>
              {{location.attributes.city}}, {{location.attributes.country}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      {{#if searchTerm}}
        <em class="search-route__no-results">
          We could not find locations with your search term.
        </em>
      {{else}}
        <ul>
          <li class="search-route__result">
            <a href="#" data-navigo>
              Teglhomsgade 58 2450 København
            </a> 
          </li>
          <li class="search-route__result">
            <a href="#" data-navigo>
              Ulrich-Schreier St 5020 Salzburg
            </a>
          </li>
        </ul>
      {{/if}}
    {{/if}}
  </div>
</div>