<form onsubmit={{action submitSearch}}>
  <input value={{search}} oninput={{action updateSearch}} placeholder="Enter location" disabled={{@isSSR}} data-test-search-input>
  <button disabled={{@isSSR}} data-test-search-submit>
    {{#if @isSSR}}
      <Loading />
    {{/if}}
    <span>Find location</span>
  </button>
</form>
