<form onsubmit={{action submitSearch}}>
  <input value={{search}} oninput={{action updateSearch}} placeholder="Enter location" disabled={{@isDisabled}} class="search-term" data-test-search-input>
  <button class="use-location" disabled={{@isDisabled}} type="button" onclick={{action @onSearchByLocation}} data-test-search-near>Use your current location</button>
  <button disabled={{@isDisabled}} class="submit" data-test-search-submit>
    Find location
  </button>
</form>
