<form onsubmit={{action submitSearch}}>
  <input
    value={{search}}
    oninput={{action updateSearch}}
    placeholder="Enter location"
    disabled={{@isDisabled}}
    class="search-term" 
    aria-label="Location name"
    data-test-search-input
  >
  <button disabled={{@isDisabled}} class="submit" data-test-search-submit>
    Find location
  </button>
</form>
