<form action="/search" method="GET" onsubmit={{action submitSearch}} class="search-form">
  <input
    value={{search}}
    oninput={{action updateSearch}}
    disabled={{@isDisabled}}
    placeholder="Enter location"
    class="search-term"
    name="search-term"
    aria-label="Location name"
    data-test-search-input
  >
  <button disabled={{@isDisabled}} class="submit" data-test-search-submit>
    Find location
  </button>
</form>
