<div>
  <form onsubmit={{action submitSearch}} class="search-form">
    <input value={{search}} oninput={{action updateSearch}} placeholder="Enter location" disabled={{@isDisabled}} class="search-term" data-test-search-input>
    <button disabled={{@isDisabled}} class="submit" data-test-search-submit>
      Find location
    </button>
  </form>
</div>