<div>
  {{#if notFound}}
    <em>We couldn't load the requested location.</em>
  {{else}}
    <div class="location-data" data-test-location>
      <h1 class="logo.logo">
        <a href="/" class="logo.logo-link logo-link" data-navigo data-test-home-link>
          Breethe
        </a>
      </h1>
      <header>
        <h1 class="title">
          {{location.attributes.label}}
        </h1>
        <p class="updated-at">
          Last update: {{updatedDate}}
        </p>
      </header>
      <div class="indicator">
        <div class="indicator-content">
          {{#if loading}}
            <div class="loader.loader location-loader" data-test-form-loader></div>
          {{else}}
            {{#if noMeasurements}}
              <strong class="indicator-index">
                &mdash;
              </strong>
            {{else}}
              <strong class="indicator-index">
                {{qualityLabel}}
              </strong>
              Air Quality
            {{/if}}
          {{/if}}
        </div>
      </div>
      <div class="measurements-wrapper">
        <ul class="measurements">
          {{#each measurementLists.first key="@index" as |measurement|}}
            <MeasurementRow
              @value={{measurement.attributes.value}}
              @parameter={{measurement.attributes.parameter}}
              @unit={{measurement.attributes.unit}}
            />
          {{/each}}
        </ul>
        <ul class="measurements">
          {{#each measurementLists.second key="@id" as |measurement|}}
            <MeasurementRow
              @value={{measurement.attributes.value}}
              @parameter={{measurement.attributes.parameter}}
              @unit={{measurement.attributes.unit}}
            />
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>