<div>
  {{#if notFound}}
    <em>We couldn't load the requested location.</em>
  {{else}}
    <div class="location-data" data-test-location>
      <h1 class="logo">
        <a href="/" class="logo-link" data-navigo>
          Breethe
        </a>
      </h1>
      <header>
        <h1 class="title">
          {{location.attributes.name}}, {{location.attributes.city}}
        </h1>
        <p class="updated-at">
          Last update: {{updatedDate}}
        </p>
      </header>
      <div class="indicator">
        <div class="indicator-content">
          <strong class="indicator-index">
            Good
          </strong>
          Air Quality
        </div>
      </div>
      <div class="measurements-wrapper">
        <ul class="measurements">
          {{#each measurementLists.first key="@index" as |measurement|}}
            <MeasurementRow
              @value={{measurement.attributes.value}}
              @parameter={{measurement.attributes.parameter}}
              @unit={{measurement.attributes.unit}}
            />
          {{/each}}
        </ul>
        <ul class="measurements">
          {{#each measurementLists.second key="@id" as |measurement|}}
            <MeasurementRow
              @value={{measurement.attributes.value}}
              @parameter={{measurement.attributes.parameter}}
              @unit={{measurement.attributes.unit}}
            />
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>