<div>
  {{#if notFound}}
    <em>We couldn't load the requested location.</em>
  {{else}}
    <div  data-test-location>
      <h1 >
        <a href="/" data-navigo>
          Breethe
        </a>
      </h1>
      <header>
        <h1 >
          {{location.attributes.name}}, {{location.attributes.city}}
        </h1>
        <p >
          Last update: {{updatedDate}}
        </p>
      </header>
      <div >
        <div >
          <strong>
            Good
          </strong>
          Air Quality
        </div>
      </div>
      <div >
        <ul >
          {{#each measurementLists.first key="@index" as |measurement|}}
            <MeasurementRow
              @value={{measurement.attributes.value}}
              @parameter={{measurement.attributes.parameter}}
              @unit={{measurement.attributes.unit}}
            />
          {{/each}}
        </ul>
        <ul >
          {{#each measurementLists.second key="@id" as |measurement|}}
            <MeasurementRow
              @value={{measurement.attributes.value}}
              @parameter={{measurement.attributes.parameter}}
              @unit={{measurement.attributes.unit}}
            />
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</div>