{{#if notFound}}
  <em>We couldn't load the requested location.</em>
{{else}}
  <div class="location-route" data-test-location>
    <h1 class="location-route__logo">
      <a href="/" data-navigo>
        Breethe
      </a>
    </h1>
    <header>
      <h1 class="location-route__title">
        {{location.attributes.name}}, {{location.attributes.city}}
      </h1>
      <p class="location-route__updated">
        Last update: {{updatedDate}}
      </p>
    </header>
    <div class="location-route__indicator">
      <div class="location-route__indicator__content">
        <strong>
          Good
        </strong>
        Air Quality
      </div>
    </div>
    <div class="location-route__measurements-wrapper">
      <ul class="location-route__measurements">
        {{#each measurementLists.first key="@index" as |measurement|}}
          <MeasurementRow
            @value={{measurement.attributes.value}}
            @parameter={{measurement.attributes.parameter}}
            @unit={{measurement.attributes.unit}}
          />
        {{/each}}
      </ul>
      <ul class="location-route__measurements">
        {{#each measurementLists.second key="@id" as |measurement|}}
          <MeasurementRow
            @value={{measurement.attributes.value}}
            @parameter={{measurement.attributes.parameter}}
            @unit={{measurement.attributes.unit}}
          />
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
