<div class="ppm-client">
  {{#if isSearchMode}}
    <Search @searchTerm={{searchTerm}} @store={{store}} @router={{router}} />
  {{else if isResultsMode}}
    <Location @location={{location}} @store={{store}} @router={{router}} @updateParticles={{action updateParticles}} />
  {{/if}}

  <div class="ppm-background">
    <div class="ppm-background__overgradient"></div>
    <ParticlesBackground @index={{particlesIndex}} />
  </div>
</div>
