<div>
  <h1>Welcome to Glimmer!</h1>
</div>

<h4>
  Locations
</h4>
<ul>
  {{#each locations key="id" as |location|}}
  <li>
    {{location.attributes.city}}, {{location.attributes.country}}
  </li>
  {{/each}}
</ul>

<h4>
  Measurements
</h4>
<ul>
  {{#each measurements key="id" as |measurement|}}
  <li>
    {{measurement.attributes.value}} {{measurement.attributes.unit}}
    in {{measurement.relationships.location.data.id}}
  </li>
  {{/each}}
</ul>