<div data-test-ppm-client>
  {{#if showOfflineWarning}}
    <p class="offline-warning" data-test-offline-warning>
      You appear to be offline - searching for locations is available online only.
    </p>
  {{/if}}

  {{#if isSearchMode}}
    <Search
      @searchTerm={{searchTerm}}
      @store={{store}}
      @router={{router}}
      @isSSR={{appState.isSSR}}
      @isOnline={{isOnline}}
      @pullIndexedDB={{pullIndexedDB}}
      @searchResults={{searchResults}}
      @updateFogEffect={{action updateFogEffect}}
    />
  {{else if isResultsMode}}
    <Location
      @location={{location}}
      @store={{store}}
      @router={{router}}
      @pullIndexedDB={{pullIndexedDB}}
      @updateFogEffect={{action updateFogEffect}}
    />
  {{/if}}
  {{#unless appState.isSSR}}
    <FogBackground @intensity={{fogIntensity}} />
  {{/unless}}

  <p class="footer">built by <a href="https://simplabs.com" class="simplabs-link">simplabs</a>, data from <a href="https://openaq.org" class="openaq-link">openaq.org</a></p>
</div>
